.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}
h1{
    font-size: 50px;
    font-weight: lighter;
    transition: 0.4s;
}
h1:hover{
    letter-spacing: 30px;
}